body {
  background-color: #82E0AA;
  color: white;
  font-family: 'Cabin', sans-serif;

}

 #logo{
  width: 30em;
  height: 25em;
 }

#portada{
    width: 100%;
    height: 300px;
    margin: 25px;
}

 .img-4{
    width: 100%;
    height: 300px;
    /* border: 5px; */
    margin: 25px;
 }
#formulario{
  margin: 5%;
  border-radius: 7px;
  padding: 5%;
  background-color: rgba(0, 0, 255, .6);
}

.form-group label{
  color: #FFFFFF;
  font-weight: 600;
}

.btn-primary{
  margin: 2%;
}

#home-comment{
  background-color: rgba(0, 0, 255, .6);
}
#comment{
    margin: 5%;
    border-radius: 7px;
    padding: 5%;
    background-color: rgba(214, 219, 223, .6);
}
footer{
  padding: 10px;
}



/* Estilos comentarios */

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }